<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet"> <!-- for live demo page -->
  <link href="select2-bootstrap4.css" rel="stylesheet"> <!-- for local development env --> 
  <title>Mapping Detail</title>

  <style>
    body {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      background: #fafafa;
      color: #444444;
    }

    .wrapper {
      max-width: 75%;
      margin: auto;
    }

    h3 {
      color: #000000;
      margin: 40px 0;
      padding: 0;
      font-size: 28px;
      text-align: center;
    }

    /* Additional styles for checkboxes */
    .checkbox-list {
      list-style-type: none;
      padding-left: 0;
    }

    .checkbox-list-item {
      margin-bottom: 5px;
    }

    .checkbox-list-item label {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="row">
      <div class="container">
        <h3>Woocommerce mapping</h3>
        <form action="/mapping">
          <div class="form-group">
            <ul class="checkbox-list">
              {% for data in attributeList %} 
              <li class="checkbox-list-item">
                <label>
                  <input type="checkbox" name="mappingAttribute[]" value="{{data}}">
                  {{data}}
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="button_group">
            <button type="submit" class="sbt-form">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>